<div class="dream">
	<div class="bg">
		<img src="" class="img-responsive"/>
	</div>
	<div class="cnt text-right">
		<h3 class="title">坚持跑步30天</h3>
		<p class="promise">梦想启动金：￥200</p>
		<div class="user">
			<div class="avatar">
				<img src=""/>
			</div>
			<div class="cases">
				<label>成功：请吃饭</label>
				<label>失败：发红包</label>
			</div>
		</div>
	</div>
	<div class="going text-center">
		<div class="bar">
			<div class="done"></div>
		</div>
		<p>已完成10天，有15人监督</p>
	</div>
</div>