	<footer class="footer">
		<nav>
			<ol>
				<li class="active">
					<a href="index.html" class="lnk-block">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						<span>首页</span>
					</a>
				</li>
				<li>
					<a href="create.html" class="lnk-block">
						<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
						<span>放飞梦想</span>
					</a>
				</li>
				<li>
					<a href="mine.html" class="lnk-block">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						<span>我的空间</span>
					</a>
				</li>
			</ol>
		</nav>
	</footer>
	<script src="{{staticRoot}}/js/common.js"></script>
	<script src="{{staticRoot}}{{script}}"></script>
</body>
</html>
