<div class="prove">
	<div class="time">昨天</div>
	<div class="content">
		<p><img src=""></p>
		<div class="bottom">
			<div class="act">
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 赞 6
			</div>
			<div class="act">
				<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 踩
			</div>
			<div class="act">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span> 提醒 10
			</div>
		</div>
	</div>
</div>
<div class="prove">
	<div class="time">11-13</div>
	<div class="content">
		<p>今天太累了，只跑了3公里</p>
		<div class="bottom">
			<div class="act">
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 赞 6
			</div>
			<div class="act">
				<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 踩
			</div>
			<div class="act">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span> 提醒 10
			</div>
		</div>
	</div>
</div>
<div class="prove">
	<div class="time">11-12</div>
	<div class="content">
		<p>
			<img src="">
			今天太累了，只跑了3公里
		</p>
		<div class="bottom">
			<div class="act">
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 赞 6
			</div>
			<div class="act">
				<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 踩
			</div>
			<div class="act">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span> 提醒 10
			</div>
		</div>
	</div>
</div>