.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;
  &::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(0, 0, 0, .08);
  }
  .wrap {
    position: relative;
    z-index: 1;

    display: flex;

    height: 100%;

    align-items: center;
  }
  .main {
    position: relative;

    width: 40%;
    margin: auto;
    padding: 14px 17px;

    border-radius: 7px;
    background: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, .25), 0 2px 18px rgba(0, 0, 0, .03);
    .btn-close {
      position: absolute;
      top: 2px;
      right: 5px;

      width: 24px;
      height: 24px;

      text-decoration: none;
      .ico-close {
        display: block;

        width: 100%;
        height: 100%;

        background: url(../img/public/ico-modal-close.png) no-repeat center;
      }
    }
  }
  &.modal-msg {
    .main {
      display: flex;

      width: 244px;
      min-height: 75px;
      padding: 20px;

      align-items: center;
      .content {
        font-size: 14px;
        line-height: 1.2;

        width: 100%;

        text-align: center;

        color: #333;
      }
    }
  }
}
