/**
 * 公用常量
 */

//length
$h-top: 60px;
$h-bottom: 55px;

// basic color
$black: #333;
$red: #CE3737;
$green: #5AA934;
$gray: #E1E1E1;
$mid-gray: #ECECEC;
$light-gray: #F8F8F8;
$orange: #FDA701;
$highlight: #fba82e;
$blue: #4A90E2;