<div class="step2 j-step-cnt">
	<form action="" class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-4 control-label">成功承诺：</label>
			<div class="col-sm-8">
				<textarea name="success" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">失败承诺：</label>
			<div class="col-sm-8">
				<textarea name="fail" class="form-control"></textarea>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<a href="javascript:;" class="btn btn-default btn-prev j-btn-prev">上一步</a>
			<a href="javascript:;" class="btn btn-default btn-next j-btn-next">下一步</a>
		</div>
	</form>
</div>