{{> start title='放飞梦想' style='/css/create.css'}}
<div class="container-fluid">
	<div class="steps">
		<div class="one j-step-o active">
			<i class="o bg-info">1</i>
			造梦
		</div>
		<div class="two j-step-o">
			<i class="o bg-info">2</i>
			承诺
		</div>
		<div class="three j-step-o">
			<i class="o bg-info">3</i>
			放飞
		</div>
	</div>
	{{> step1}}
	{{> step2}}
	{{> step3}}
</div>
{{> end tab='create' script="/js/create.js"}}